     body {
            font-family: Arial, sans-serif;
            background-color: #0877f5;
            margin: 20px;
        }

        h1, h2 {
            text-align: center;
            color: black;
            background: rgb(134, 177, 233);
            padding: 10px;
            border-radius: 10px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            gap: 20px;
            margin-top: 20px;
        }

        .card {
            background:rgb(134, 177, 233);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.2s;
            text-align: center;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            width: 250%;
            height: 300%;
            object-fit: cover;
        }

        .card p {
            padding: 10px;
            font-weight: bold;
            color: black;
        }

        a {
            text-decoration: none;
        }
  

