.caja {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.caja.color {
  background-color: #d1ecf1;
  color: #0c5460;
  font-weight: bold;
}
.caja.color:hover {
  background-color: #8e11c0;
  color: #ffffff;
}